# Quickstart for GitHub Actions
# https://docs.github.com/en/actions/quickstart

name: CI
on: [ push, pull_request, workflow_dispatch ]
jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    strategy:
      matrix:
        java: [ 11, 17, 21 ]
      fail-fast: false
      max-parallel: 64
    name: Test JDK ${{ matrix.java }}

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v5
        with:
          java-version: ${{ matrix.java }}
          java-package: jdk+fx
          distribution: zulu
          cache: maven
      - run: ./mvnw -V --no-transfer-progress clean package
      # https://remarkablemark.org/blog/2017/10/12/check-git-dirty/
      - name: Check git dirty
        run: |
          git status --short
          [ -z "$(git status --short)" ]
